<server description="defaultServer">

	<featureManager>
		<feature>webProfile-10.0</feature>
		<feature>jdbc-4.3</feature>
		<feature>transportSecurity-1.0</feature>
		<feature>jwt-1.0</feature>
	</featureManager>

	<keyStore id="selfKeyStore" password="holdon"
		location="/opt/domain.p12" readOnly="true" />

	<ssl id="selfSignedSSL" keyStoreRef="selfKeyStore" />
	<sslDefault sslRef="selfSignedSSL" />
	
	
	
	<jwtBuilder id="keyGenerated"  trustStoreRef="selfKeyStore"
	keyStoreRef="selfKeyStore" expiresInSeconds="120" />
	
	
	<!-- Need to define trusted issuer -->
	<jwtConsumer id="defaultJwtConsumer" issuer="https://192.168.100.194:9443/jwt/keyGenerated" />
	
		 
	<library id="jdbcLib">
		<fileset dir="jdbc" includes="*.jar" />

	</library>


	<dataSource jndiName="jdbc/image_model"
		id="datasourceConfig">
		<jdbcDriver libraryRef="jdbcLib" />
		<properties.postgresql serverName="localhost"
			portNumber="5432" databaseName="image_server" user="casi"
			password="holdon" />
	</dataSource>

	<basicRegistry id="defaultBasicRegistry"
		realm="BasicRealm">
		<user name="username" password="password" />
	</basicRegistry>




	<httpEndpoint id="defaultHttpEndpoint" host="*"
		httpPort="9080" httpsPort="9443">
	</httpEndpoint>

	<webContainer
		addStrictTransportSecurityHeader="max-age=63072000; includeSubDomains; preload" />

	<webApplication location="image-server.war"
		contextRoot="/" />




</server>
